{% extends 'generic/header.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Diplomatool - Reviews
{% endblock %}


{% block custom_css %}
    .table td {
    text-align: center;
    }

    .table th {
    text-align: center;
    }

    .spacer {
    margin:0;
    padding:0;
    height:50px;
    }

    th.sort:before{
    content:"\e150";
    font-family:"Glyphicons Halflings";
    padding-right: 14px;
    }

    th.sort.asc:before {
    content:"\e093";
    }

    th.sort.desc:before {
    content:"\e094";
    }


{% endblock %}

{% block jumbo %}
    <h1>Reviews</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="reviews">
                {% if review_list %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="sort" data-sort="student-id">Student ID</th>
                                <th class="sort" data-sort="student-name">Student Name</th>
                                <th class="sort" data-sort="topic-name">Topic</th>
                                <th class="sort" data-sort="review-finished">Review status</th>
                                <th class="sort" data-sort="deadline">Deadline</th>
                                <th>Action</th>
                            </tr>
                            <tbody class="list">
                            {% for review in review_list %}
                                <tr>
                                    <td class="student-id">
                                        {{ review.thesis.student.index_number }}
                                    </td>
                                    <td class="student-name">
                                        {{ review.thesis.student.get_full_name }}
                                    </td>
                                    <td class="topic-name">
                                        {{ review.thesis.topic.name }}
                                    </td>
                                    <td class="review-finished">
                                        {% if review.finished %}
                                            True
                                        {% else %}
                                            False
                                        {% endif %}
                                    </td>
                                    <td class="deadline">
                                        {{ review.deadline }}
                                    </td>
                                    <td class="action">
                                        <button type="button" class="btn btn-default">Download thesis</button>
                                        <button type="button" class="btn btn-default upload-review"
                                                id="{{ review.id }}">Upload review
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                    </div>
                {% endif %}


    <div class="col-m-6" id="review-upload-form" title="Propose a topic">
        {% crispy form form.helper %}
    </div>



{% endblock %}


{% block custom_js %}
    <script>
        var options = {
            valueNames: ['student-id', 'student-name', 'topic-name', 'review-finished', 'deadline', 'action']
        };

        var reviewList = new List('reviews', options);

        var dialog;
        var topicButton = $('[class$="upload-review"]');
        var cancelButton = $('#cancel-review-form');
        var review_hidden_input = $('[name="review_hidden_id"]');

        dialog = $("#review-upload-form").dialog({
            autoOpen: false,
            height: 160,
            width: 350,
            modal: true,
            resizable: false
        });

        topicButton.on('click', function (event) {
            review_hidden_input.val($(this).attr('id'));
            dialog.dialog('open');
            event.preventDefault();
        });

        cancelButton.on('click', function (event) {
            dialog.dialog('close');
            event.preventDefault();
        });

    </script>
    <script>
    </script>
{% endblock %}