{% extends 'generic/header.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Diplomatool - Topics
{% endblock %}

{% block custom_css %}
    .table td {
    text-align: center;
    }

    .table th {
    text-align: center;
    }

    .spacer {
    margin:0;
    padding-top:50px;
    padding-bottom:10px;
    }

    th.sort:before{
    content:"\e150";
    font-family:"Glyphicons Halflings";
    padding-right: 14px;
    }

    th.sort.asc:before {
    content:"\e093";
    }

    th.sort.desc:before {
    content:"\e094";
    }

    #topic-form { display: none; }
{% endblock %}

{% block jumbo %}
    <h1>Topics</h1>
    <div class="spacer">
        {% if user.has_proposed_topic and not user.is_admin %}
            <p>You have already proposed a topic</p>
        {% else %}
            <p>Can't find the perfect one for you? <a class="btn btn-default" href="#" role="button" id="add-topic">Propose
                new</a></p>
        {% endif %}
    </div>

    {% if topic_list %}
        <div id="topics">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th class="sort" data-sort="topic-id">Topic ID</th>
                            <th class="sort" data-sort="topic-name">Topic</th>
                            <th class="sort" data-sort="supervisor-name">Supervisor</th>
                            <th class="sort" data-sort="description">Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for topic in topic_list %}
                            <tr>
                                <td class="topic-id">{{ topic.id }}</td>
                                <td class="topic-name">{{ topic.name }}</td>
                                <td class="supervisor-name">{{ topic.supervisor.first_name }} {{ topic.supervisor.last_name }}</td>
                                <td class="description">{{ topic.short_description }}</td>
                                <td class="action"><input class="btn btn-default" type="button" value="Choose"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <p>Unfortunately, no topics are available right now :(</p>
    {% endif %}


    <div class="col-m-6" id="topic-form" title="Propose a topic">
        {% crispy form form.helper %}
    </div>

{% endblock %}


{% block custom_js %}
    <script>
        var listOptions = {
            valueNames: ['topic-id', 'topic-name', 'supervisor-name', 'description']
        };
        var topicList = new List('topics', options);
        $(document).ready(function () {
            var dialog;
            var topicButton = $('#add-topic');
            var cancelButton = $('#button-id-cancel');

            dialog = $("#topic-form").dialog({
                autoOpen: false,
                height: 560,
                width: 500,
                modal: true,
            });

            topicButton.on('click', function (event) {
                topicButton.off("focus");
                dialog.dialog('open');
                event.preventDefault();
            });

            cancelButton.on('click', function (event) {
                dialog.dialog('close');
                event.preventDefault();
            });
        })
    </script>
{% endblock %}