<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 65px;
        }

        {% block custom_css %}
        {% endblock %}
    </style>

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Diplomatool</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block navbar-nav %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        {% if user.is_reviewer %}
                            <li><a href="{% url 'reviews' %}">Reviews</a></li>
                        {% endif %}
                        {% if user.is_student %}
                            <li><a href="{% url 'topic_list' %}">Topics</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% block navbar-right %}
                        {# User is already logged in #}
                        <li>
                            <a href="{% url 'profile' %}">
                                <span class="glyphicon glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}
                            </a>
                        </li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon glyphicon-log-out"></span>
                            Sign out</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        {% block container %}
            <div class="jumbotron">
                {% block jumbo %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        var links = $('[class$="navbar-nav"] li a');
        links.each(function () {
            var self = $(this);
            if (self.attr('href') == window.location.pathname) {
                self.parent().addClass('active');
            }
        })
    })
</script>
{% block custom_js %}
{% endblock %}
</body>
</html>