{% extends 'generic/header.html' %}

{% block navbar-nav %}
    <li>
        <a href="{% url 'profile' %}">Profile</a>
    </li>
    {% if user.is_reviewer %}
        <li>
            <a href="{% url 'reviews' %}">Reviews
            </a>
        </li>
    {% endif %}
    {% if user.is_student %}
        <li>
            <a href="{% url 'topic_list' %}">Topics
            </a>
        </li>
    {% endif %}
{% endblock %}


{% block jumbo %}
    <h1>Profile page</h1>
    <p>
        {% if user.is_reviewer %}
            You are a reviewer, {{ user.first_name }}!
        {% endif %}
    </p>
    <p>
        {% if user.is_student %}
            You are a student, {{ user.first_name }}!
        {% endif %}
    </p>
{% endblock %}
